body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#co_nodata {
  position: absolute;
  left: 22%;
  top: 45%;
  z-index: 1;
  width: 150px;
  height: 150px;
}

#alcohol_nodata {
  position: absolute;
  left: 80%;
  top: 45%;
  z-index: 1;
  width: 150px;
  height: 150px;
}

#sound_nodata {
  position: absolute;
  left: 50%;
  top: 45%;
  z-index: 1;
  width: 150px;
  height: 150px;
}

.my-button {
    border: none;
    padding: 12px 29px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}






@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


