@{
    ViewBag.Title = "Home Page";
}

<body background-color="black">
    </body>

   @* <div class="fill" style="overflow:hidden; background-size:cover; background-position: center; background-image: url('../../../Assets/background.jpg'); height: 100%; width: 100%"></div>*@


    <div style="background-color:black">
        <img src="~/Assets/background.jpg" alt="greenpub" style="width:1150px; height:600px"  />
    </div>

    @*<div class="jumbotron">
            <h1>iot-pub</h1>
            <p class="lead">iot-pub will tell you which bar has the cleanest air.</p>
            <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
        </div>*@

    @*<div class="row">
            <div class="col-md-4">
                <h2>Getting started</h2>
                <p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.
                </p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Get more libraries</h2>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Web Hosting</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div>
        </div>*@
